<!DOCTYPE html>
<html>
<head>
	<title>MATCHA - réinitialisation de votre mot de passe</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
	<style type="text/css">	</style>
</head>
<body class="w3-light-blue">
<div  class="w3-container" style="text-align: center">
	<h1 class="w3-text-white" style="font-size: 60px"><a href="/" style="text-decoration: none;">Matcha</a></h1>
	<h3 class="w3-text-white" style="font-size: 40px"><a href="/" style="text-decoration: none;">Réinitialisation de votre mot de passe</a></h3>
	<div class="w3-card-4 w3-container  w3-white" style="min-width: 350px; width: 50%; margin: auto; ">
		<form action="/new-pwd/<%=id_user%>/<%=u_key%>" method="post" class="w3-container">
			<p><label class="w3-label w3-text-blue">Nouveau mot de passe</label>
			<input type="password" name="password" class="w3-input w3-border" required/></p>
			<p><input type="submit" name="submit" class="w3-btn w3-blue" /></p>
		</form>
	</div>
</div>
<br />
</body>
</html>