<header style="font-size: 25px;">
	<ul>
		<li><a href="/" class="header-btn" style="font-size: 35px">Matcha</a></li>
		<ul style="border-bottom: 1px solid white;">
			<li><a href="/profil/<%=username%>" class="header-btn">Profil</a></li>
			<li><a href="#" class="header-btn">Link 2</a></li>
			<li class="btn-right"><a href="/sign-out" class="header-btn">Log Out</a></li>
		</ul>
	</ul>
</header>